[user]
	name = Jakub Holy
	email = jakub.holy@telia.no
[color]
	status = auto
	branch = auto
	ui = auto
[alias]
	co = checkout
	br = branch
	ft = fetch
	mt = mergetool
	pullr = pull --rebase
	s = status
	w = whatchanged
	w1 = whatchanged --oneline
	# What changed between trees, e.g. git gd master origin/master
	gd = log --decorate --cherry-mark --oneline --graph --boundary #$A"..."$B
	diffs = diff --staged
	cp = cherry-pick
	; gui = !sh -c '/usr/local/git/libexec/git-core/git-gui' # needed by Apple Git
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = log        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        ignore = update-index --assume-unchange
        unignore = update-index --no-assume-unchanged

[merge]
	summary = true
	tool = p4merge
[github]
	user = jakubholynet
	token = 5e36edd08817354c8449752aaa2be139
[core]
	eol = lf
	autocrlf = input
	excludesfile = /Users/holyjak/.gitignore_global
[push]
	default = tracking
[mergetool]
	keepBackup = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github "gist.oauth"]
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge
