[user]
	name = Jakub Holy
	email = jakubholy@jakubholy.net
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICQBsQMijqC45O4MyNbwZ7SHXR9whOy6AAdH+Z4Pz1YB
[color]
	status = auto
	branch = auto
	ui = auto
[alias]
	co = checkout
	br = branch
	ft = fetch
	mt = mergetool
	pullr = pull --rebase
	s = status
	w = whatchanged
	w1 = whatchanged --oneline
	# What changed between trees, e.g. git gd master origin/master
	gd = log --decorate --cherry-mark --oneline --graph --boundary #$A"..."$B
	diffs = diff --staged
	cp = cherry-pick
	; gui = !sh -c '/usr/local/git/libexec/git-core/git-gui' # needed by Apple Git
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = log        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs1 = log        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n1
	lgsh = log        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n10
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        ignore = update-index --assume-unchange
        unignore = update-index --no-assume-unchanged
        set-upstream=!git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
        # Remove branches deleted from the origin
        rm-orphans = !git fetch -p && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' 
                              # ... | xargs git branch -D"
       # Add changed files ignoring whitespace changes
       addnw=!sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
	done = "!f() { git branch -d @{-1}; }; f"

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
	summary = true
	tool = p4merge
	conflictstyle = diff3
[core]
	eol = lf
	autocrlf = input
	excludesfile = /Users/holyjak/.gitignore_global
	sshComand = /usr/local/bin/ssh
	pager = delta
[push]
	default = tracking
	autoSetupRemote = true
[mergetool]
	keepBackup = false
[diff]
    tool = difftastic
    colorMoved = default
[difftool]
        prompt = false
[difftool "difftastic"]
        # see https://difftastic.wilfred.me.uk/git.html
        cmd = difft "$LOCAL" "$REMOTE"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github "gist.oauth"]
[credential]
	helper = osxkeychain
	#helper = osxkeychain
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge
[init]
	defaultBranch = main
[rerere]
	enabled = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/holyjak/.config/git/allowed_ssh_signers
	#program = /Users/holyjak/tmp/delme/fake-sign.bb
[commit]
	gpgsign = true
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
